<div class="top">
  <header>
    <div class="container">
      <div class="flex">
        <h1>Torus</h1>
        <div class="links">
          <%= link_to "ログイン", new_member_session_path %>
          <%= link_to "アカウント登録", new_member_registration_path %>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="main-visual-wrap">
      <div class="inner-visual">
        <h2>この繋がりは武器になる</h2>
        
      </div>
    </div>
    <div class="main-content container">
      <div class="content-wrap">
        <!--introduction benefit-->
        <h2>Torus(トーラス)とは？</h2>
        <div class="content">
          <p>
            このサイトをご覧いただきありがとうございます。
          </p>

          <p>
            はじめまして。部活動・サークル活動のマッチングサービス「Torus」開発者の魚谷と申します。
          </p>
          <p>
            まず少しだけ自己紹介をさせてください。<br />
            私は中学生から大学までソフトテニス部、陸上部、ワンダーフォーゲル部、剣道部、科学サークルと様々
            な活動に参加してきました。
          </p>
          <p>
            大学院へ進み、都内でエンジニアとして就職し、都内自治体や一部上場企業のWebサービスの開発に
            携わってきました。今年でエンジニア5年目になります。
          </p>
          <p>
            さて、これまで私が所属した部活動・サークルには大きく分けて2種類ありました。<br />
            一つはコネクションが多く、他校と活発に練習試合や合同練習を行える活動。
            もう一つはコネクションが無く他校と全く交流を持たなかった活動です。
          </p>
          <p>
            中学時代に所属していたソフトテニス部では、顧問の顔が広く様々な学校と合同練習したり、多くの
            監督やOBに指導していただきました。夏の合宿では部員よりもOBの方が多いなんてことも(笑)
          </p>
          <p>
            一方で、大学時代に所属していた活動ではコネクションが無く、いつもと変わらない少ないメンバーで
            活動していました。
          </p>
          <p>
            どちらにも共通して言えることは、コネクションが属人化、つまり特定の人に依存し過ぎているということです。
          </p>
          <p>
            顔の広い顧問や代表がいると、その部活動やサークルに所属しているメンバーは多くの方と
            交流でき、たくさんの経験を積むことができます。
          </p>
          <p>
            しかし、新たに部活動の顧問に任命された新卒の先生や新しく作ったサークルなど、コネクションが全くない
            活動では、メンバが固定化してしまい、たくさんの経験を積むチャンスを失ってしまいます。
          </p>
          <p>
            これは一種の情報格差です。<br />
            この問題を解決するために、新しくできたサークルや新任の先生向けに開発したのが、部活動・サークル活動
            のマッチングサービス「Torus」です。
          </p>
        </div>
        <h2>何ができるの？</h2>
        <div class="content">
          <p>
            現在Torusの主な機能は次の3点です
          </p>
          <ul>
            <li><i class="fas fa-angle-right"></i>スケジュールの管理</li>
            <li><i class="fas fa-angle-right"></i>他校部活動の検索</li>
            <li><i class="fas fa-angle-right"></i>他校部活動へのメッセージの送信と合同練習の申し込み</li>
          </ul>
          <p>
            他校部活動のレベル感やメンバーの人数などを見ながら、適切な練習相手を探すことができます。
          </p>
          <p>
            また、Torusでは高校と大学が同じように検索結果に表示されます。学校の区分を超えて交流していただけることを
            期待しています。もちろん高校だけ、大学だけを検索することも出来ます。
          </p>
          <p>
            実際にご利用されているユーザーの意見を取り入れながら今後も開発を続けていくので、
            できることは今後も増えていきます。
          </p>
          <p>
            複数人の方でご利用いただけますので、特定の先生や特定のサークル内の担当者に属人化
            することを防ぐことも出来ると考えています。
          </p>
        </div>

        <h2>今後の展望</h2>
        <div class="content">
          <p>
            ユーザーの要望やご意見を参考し開発を続けていくつもりですが、私なりに追加したい機能や
            サービスの展望の考えをご紹介させていただきます。
          </p>
          <p>
            まずは練習試合や合同練習の履歴を残す仕組みを作り、前任者がTorusを使っていただいいていた場合に、
            後任の方がすぐに練習試合・合同練習をセッティングできるようにしたいです。
          </p>
          <p>
            また、現在は高校・大学のみに限定していますが、社会人サークルの登録も検討しています。<br />
            社会人サークルの登録は、茶道や華道、書道や登山など、熟練の技術を要する
            部活動やサークル活動で活発に活用していただくことを期待しています。
          </p>
          <p>
            
          </p>
        </div>
        <%= link_to "さっそく使ってみる", new_member_registration_path, class: "big_button" %>
      </div>
    </div>
    <div class="wide-section">
      <div class="price-section">
        <h2>料金</h2>
        <div class="content">
          <div class="prices">
            <div class="card price">
              <h3>高校生部活動</h3>
              <p class="fee">月額 <span class="fee">0</span>円</p>
              <h4>詳細</h4>
              <ul>
                <li>
                  <p class="label">月額</p><p class="value">0円</p>
                </li>
                <li>
                  <p class="label">初めの1か月</p><p class="value">0円</p>
                </li>
                <li>
                  <p class="label">入会金</p><p class="value">0円</p>
                </li>
                <li>
                  <p class="label">振り込み方法</p><p class="value">なし</p>
                </li>
              </ul>
            </div>
            <div class="card price">
              <h3>大学生部活動</h3>
              <p class="fee">月額 <span class="fee">200</span>円</p>
              <h4>詳細</h4>
              <ul>
                <li>
                  <p class="label">月額</p><p class="value">200円</p>
                </li>
                <li>
                  <p class="label">初めの1か月</p><p class="value">0円</p>
                </li>
                <li>
                  <p class="label">入会金</p><p class="value">0円</p>
                </li>
                <li>
                  <p class="label">振り込み方法</p>
                  <p class="value">クレジットカードまたは半年毎に口座振り込み</p>
                </li>
              </ul>
            </div>
            <div class="card price">
              <h3>社会人部活動（仮）</h3>
              <p class="fee">月額 <span class="fee">980</span>円</p>
              <h4>詳細</h4>
              <ul>
                <li>
                  <p class="label">月額</p><p class="value">980円</p>
                </li>
                <li>
                  <p class="label">初めの1か月</p><p class="value">980円</p>
                </li>
                <li>
                  <p class="label">入会金</p><p class="value">0円</p>
                </li>
                <li>
                  <p class="label">振り込み方法</p>
                  <p class="value">クレジットカードのみ</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <%= link_to "さっそく使ってみる", new_member_registration_path, class: "big_button" %>
      </div>
    </div>
  </main>
  
  <footer>
      
      
  </footer>
</div>