<div class="top">
  <%= image_tag "top.png", class: "main-visual" %>
  <header>
    <div class="container">
      <div class="flex">
        <h1>Torus</h1>
        <div class="links">
          <%= link_to "ログイン", new_team_session_path %>
          <%= link_to "アカウント登録", new_team_registration_path %>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="image-wrap">
      <%= image_tag "top.png", class: "main-visual" %>
    </div>
  </main>
  
  <footer>
      
      
  </footer>
</div>