<div class="top">
  <header>
    <div class="container">
      <div class="flex">
        <h1>Torus</h1>
        <div class="links">
          <%= link_to "ログイン", new_member_session_path %>
          <%= link_to "アカウント登録", new_member_registration_path %>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="main-visual-wrap">
      <div class="inner-visual">
        <h2>この繋がりは武器になる</h2>
        
      </div>
    </div>
    <div class="main-content container">
      <div class="content-wrap">
        <!--introduction benefit-->
        <h2>最近の練習マンネリ化してませんか？</h2>
        <div class="content">
          <p>
            このサイトをご覧いただきありがとうございます。
          </p>

          <p>
            さて、早速ですが最近のあなたの部活動・サークルでの活動や練習を思い返して見てください。<br />
            なんとなく、毎日毎回同じメンバーと同じ練習メニューで飽きてきたなと感じることはないでしょうか？
            もちろん、基礎練習として毎回同じメニューで練習することは大切です。
          </p>
          <p>
            しかし、あなたやあなたの周りのメンバーの中には、毎回同じメニュー同じメンバーとの練習
            に飽きて練習を「こなしている」人はいないでしょうか？
          </p>
          <p>
            はじめまして、本サービス「Torus」を開発しました。魚谷と申します。<br />
            私は中学から大学まで、ソフトテニス部、陸上部、剣道部、ワンダーフォーゲル部、科学サークル
            と、それぞれ所属していた期間は長くないですが、さまざまな活動に参加してきました。<br/>
            その中で、共通して感じていたのは、毎回同じメニュー同じメンバーでの練習に対する「飽き」
            です。
          </p>
        </div>
        <h2>本当の問題点</h2>
        <div class="content">

          <p>
            それでは、毎回異なるメニュー異なるメンバーで練習をすれば「飽き」は解消されるのでしょうか？<br />
            残念ながら問題の本質はそこではないと考えています。
          </p>
          <p>
            もう一度思い返してください。練習試合や大会での試合の次の日の練習はどうでしょうか。<br />
            同じメニュー同じメンバーであったとしても試合で分かった弱点や苦手なところを意識して
            練習に臨むため、いつもより充実した練習ができていませんか？
          </p>
          <p>
            試合直後の練習では練習で直したいところ、伸ばしたいところがよくわかる。つまり
            「進むべき方向」が分かっている状態では、同じメニューであっても。<br />
            試合から時間が経つにつれ「進むべき方向」を意識しなくなり、なんとなく練習してしまうため、
            「飽き」を感じてしまうのです。
          </p>
          <p></p>
        </div>
        <h2>社会に出てから人と出会うのはとても難しい</h2>
        <div class="content">
          <p>
            
          </p>
          <p>
            
          </p>
        </div>
      </div>
      <%= link_to "さっそく使ってみる", new_member_registration_path, class: "big_button" %>
      <div class="content-wrap">
        <!--servise price-->
        <h2>Service</h2>
        <div class="content">
          <p>

          </p>
        </div>
      </div>
      <%= link_to "さっそく使ってみる", new_member_registration_path, class: "big_button" %>
      <div class="content-wrap">
        <!--faq-->
        <h2>FAQ</h2>
        <div class="content"></div>
      </div>
      <div class="content-wrap">
        <!--future-->
        <h2>Future</h2>
        <div class="content"></div>
      </div>
    </div>
  </main>
  
  <footer>
      
      
  </footer>
</div>