<div class="top">
  <header>
    <div class="container">
      <div class="flex">
        <h1>Torus</h1>
        <div class="links">
          <%= link_to "ログイン", new_team_session_path %>
          <%= link_to "アカウント登録", new_team_registration_path %>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="main-visual-wrap">
      <div class="inner-visual">
        <h2>まだ見ぬライバルを求めて</h2>
        
      </div>
    </div>
    <div class="main-content container">
      <div class="content-wrap">
        <h2>Introduction</h2>
        <div class="content"></div>
      </div>
      <div class="content-wrap">
        <h2>Price</h2>
        <div class="content"></div>
      </div>
    </div>
  </main>
  
  <footer>
      
      
  </footer>
</div>