<div class="top">
  <header>
    <div class="container">
      <div class="flex">
        <h1>Torus</h1>
        <div class="links">
          <%= link_to "ログイン", new_team_session_path %>
          <%= link_to "アカウント登録", new_team_registration_path %>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="main-visual-wrap">
      <div class="inner-visual">
        <h2>この繋がりは武器になる</h2>
        
      </div>
    </div>
    <div class="main-content container">
      <div class="content-wrap">
        <!--introduction benefit-->
        <h2>Introduction</h2>
        <div class="content">
          <p>
            大学時代、私はワンダーフォーゲル部（山登り部）に所属していました。
            入学当時、廃部になっていたのを私を含めた新入生5名で復部させ、2週間に一度程度の
            ペースで大学近くの山に登っていました。少人数であったため、
            みんな仲良く楽しかったのですが、
            同時にいくつかの問題点もありました。
          </p>
          <ul>
            <li>・指導者がいなかった</li>
            <li>・地図を読める人がいなかった</li>
            <li>・メンバが固定化し、活動がマンネリ化</li>
          </ul>
          <p>
            この問題を解決するために「他校の部やサークルと一緒に活動し、技術や知識を盗みたい」
            と話し合ってはいたのの、「誘って迷惑ではないだろうか」「私たちが探したいレベルの部活をどうやって見つけるか」
            と躊躇してしまい、結局見つけることができないまま卒業となってしまいました。
          </p>
          <p>
            部活動に力を入れている学校はごく少数で、多くの部活動やサークルは少なからず同じような
            悩みを抱えているのではないでしょうか？
          </p>
        </div>
      </div>
      <%= link_to "さっそく使ってみる", new_team_registration_path, class: "big_button" %>
      <div class="content-wrap">
        <!--servise price-->
        <h2>Service</h2>
        <div class="content">
          <p>
            そんな思いから今回、部活動・サークルのためのマッチングサービス「Torus」を開発
            いたしました。<br />
            高校・大学で使うことのできる課外活動の時間は決して多くありません。
            Torusは、この高校・大学の中の僅かな時間をより有意義に濃密に使っていただきたく
            誕生しました。
          </p>
          <p>
            Torusでは同じカテゴリ(バスケや水泳、書道のような活動の種類)の部活動やサークルを検索し、
            コンタクトをとることができます。また、合同練習の申し込みからスケジュール管理も行うことができます。
            <br />
            合同練習の申し込みとスケジュール管理は連携しているので、
            合同練習が決定すればすぐにスケジュールに書き込まれます。
          </p>
        </div>
      </div>
      <%= link_to "さっそく使ってみる", new_team_registration_path, class: "big_button" %>
      <div class="content-wrap">
        <!--faq-->
        <h2>FAQ</h2>
        <div class="content"></div>
      </div>
      <div class="content-wrap">
        <!--future-->
        <h2>Future</h2>
        <div class="content"></div>
      </div>
    </div>
  </main>
  
  <footer>
      
      
  </footer>
</div>