<div class="top">
  <header>
    <div class="container">
      <div class="flex">
        <h1>Torus</h1>
        <div class="links">
          <%= link_to "ログイン", new_member_session_path %>
          <%= link_to "アカウント登録", new_member_registration_path %>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="main-visual-wrap">
      <div class="inner-visual">
        <h2>この繋がりは武器になる</h2>
        
      </div>
    </div>
    <div class="main-content container">
      <div class="content-wrap">
        <!--introduction benefit-->
        <h2>いつも同じメンバーで練習してない？</h2>
        <div class="content">
          <p>
            このサイトをご覧いただきありがとうございます。
          </p>
          <p>
            さて、あなたに質問です。部活動・サークル活動のゴールは何ですか？
          </p>
          <p>
            インターハイや全国大会常連校であれば「優勝」がゴールと考えるでしょうか。<br />
            そうでなくても、運動部であればできるだけ勝つこと、文化系活動であれば、
            コンクールなどでの入賞を目標とされています。<br/>
            しかしこれらは目標であってゴールではありません。全てのサークル・部活動共通のゴール、
            すなわち目指すところは、いろいろな人に「出会う」ことだと私は考えています。
          </p>
          <p>
            同じサークルや部活動に所属している仲間は、同じ学年・同じクラス以上に強く結びついています。<br/>
            その結びつきは卒業後、就職後と人生にわたり長く続きます。<br />
            私はあまり友人が多い方ではありませんが、今でも連絡を取り合うのは大学時代同じサークルのメンバだった方たちです。
          </p>
          <p>
            では、そんな人生において大切な部活動・サークルでの出会いを、
            同じ学校のメンバーだけに絞らずに
            もっと広げたくはありませんか？
          </p>
          <p>
            
          </p>
        </div>
      </div>
      <%= link_to "さっそく使ってみる", new_member_registration_path, class: "big_button" %>
      <div class="content-wrap">
        <!--servise price-->
        <h2>Service</h2>
        <div class="content">
          <p>
            そんな思いから今回、部活動・サークルのためのマッチングサービス「Torus」を開発
            いたしました。<br />
            高校・大学で使うことのできる課外活動の時間は決して多くありません。
            Torusは、この高校・大学の中の僅かな時間をより有意義に濃密に使っていただきたく
            誕生しました。
          </p>
          <p>
            Torusでは同じカテゴリ(バスケや水泳、書道のような活動の種類)の部活動やサークルを検索し、
            コンタクトをとることができます。また、合同練習の申し込みからスケジュール管理も行うことができます。
            <br />
            合同練習の申し込みとスケジュール管理は連携しているので、
            合同練習が決定すればすぐにスケジュールに書き込まれます。
          </p>
        </div>
      </div>
      <%= link_to "さっそく使ってみる", new_member_registration_path, class: "big_button" %>
      <div class="content-wrap">
        <!--faq-->
        <h2>FAQ</h2>
        <div class="content"></div>
      </div>
      <div class="content-wrap">
        <!--future-->
        <h2>Future</h2>
        <div class="content"></div>
      </div>
    </div>
  </main>
  
  <footer>
      
      
  </footer>
</div>