.top{
  position: relative;
  img.main-visual{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(20%);
    z-index: -1;
  }
  .container{
    width: 1000px;
    margin: auto;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  header{
    background-color: rgba(255,255,255,0);
    padding-top: 10px;
    width: 100%;
    height: 60px;
    // box-shadow:0px 8px 9px -3px #cdc8ca;
    z-index: 1000;
    h1{
      margin: 0;
      margin-left: 10px;
      align-self: center;
      color: #4e73df;
    }
    .links{
      align-self: center;
      a{
        margin-right: 10px;
        padding: 0.3rem 1rem;
        box-sizing: border-box;
        border-radius: 10px;
        color: black;
        font-weight: 800;
      }
      a:hover{
        background-color: rgba(0,0,0,0.03);
      }
    }
  }
  main{
    background-color: #f6f5f4;
    font-family: Meirio;
    .main-visual-wrap{
      display: flex;
      position: relative;
      background: url(/images/top.png) no-repeat center;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      z-index: 0;
      overflow: hidden;
      .inner-visual{
        align-self: center;
        margin: auto;
        text-align: center;
        h2{
          font-size: 48px;
          font-family: serif;
        }
      }
    }
    .main-visual-wrap:before{
      content: '';
      background: inherit;/*.bgImageで設定した背景画像を継承する*/
      -webkit-filter: brightness(60%);
      -moz-filter: brightness(60%);
      -o-filter: brightness(60%);
      -ms-filter: brightness(60%);
      filter: brightness(60%);
      position: absolute;
      /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;/*重なり順序を一番下にしておく*/
    }
    .main-content{
      margin-top: 80px;
      width: 52%;
      margin: auto;
      margin-top: 80px;
      padding: 30px;
      background-color: white;
      .content-wrap{
        margin-top: 30px;
        h2{
          text-align: center;
          font-family: Yu Gothic Medium;
          font-size: 2rem;
        }
        .content{
          p{
            color: #444;
            font-size: 18px;
            line-height: 2 !important;
            margin-top: 2em !important;
            margin-bottom: 36px !important;
            .strong{
              color: #2d09d6;
              font-weight: 800;
            }
          }
        }
      }
    }
    .big_button{
      background-color: #423ff1;
      width: 200px;
      line-height: 50px;
      display: block;
      color: white;
      text-align: center;
      border-radius: 8px;
      margin: auto;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width:768px){
  .top{
    .container{
      width: 100%;
    }
    header .links a{
      margin-right: 0;
      padding: 0.3rem;
    }
    main{
      .main-visual-wrap{
        height: 54vh;
        .inner-visual{
          h2{
            font-size: 38px;
          }
        }
      }
      .main-content{
        width: 97%;
        .content{
          width: 85%;
          margin: auto;
          line-height: 25px;
          p, ul{
            margin-top: 25px;
          }
          ul{
            border: solid 1px #486ef9;
            padding: 1rem 0.3rem;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}